#app{font-family:Avenir,Helvetica,Arial,sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;text-align:center;color:#2c3e50;margin-top:60px}h1[data-v-26c5d24c],h2[data-v-26c5d24c]{font-weight:400}ul[data-v-26c5d24c]{list-style-type:none;padding:0}li[data-v-26c5d24c]{display:inline-block;margin:0 10px}a[data-v-26c5d24c]{color:#42b983}
/*# sourceMappingURL=app.02ad35278b82ad078cef8bd7f354134d.css.map */